# Flutter specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
.pub-cache/
.pub/
build/
android/app/debug.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig

# macOS
macos/Pods/
macos/.symlinks/
macos/Flutter/ephemeral/

# Windows
windows/runner/Debug/
windows/runner/Release/
windows/runner/Runner.exe

# Web
web/.dart_tool/
web/.flutter-plugins
web/.flutter-plugins-dependencies

# Linux
linux/flutter/ephemeral/

# VS Code
.vscode/

# IntelliJ
.idea/

# Logs and crash reports
*.log
*.lock
pubspec.lock

